* {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}
.ITD {
  border: solid black 2px;
  font-size: auto;
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ITD-img {
  height: auto;
  width: 40%;
  border: solid black 2px;
  border-radius: 3%;
  margin: auto;
}
.ITD-button {
  border: solid black 1px;
}
