.foot {
  position: end;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  font-family: "Helvetica Neue", "Helvetica";
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.925),
    rgb(211, 211, 208),
    rgba(192, 189, 190, 0.979),
    rgba(124, 124, 124, 0.945),
    rgb(75, 76, 77)
  );
}
.footh4 {
  font-family: "Helvetica Neue", "Helvetica";
  color: black;
}
