.App {
  text-align: center;
  background: linear-gradient(
    to top,
    rgb(75, 76, 77),
    rgb(124, 124, 124),
    rgba(192, 189, 190, 0.925),
    rgb(211, 211, 208),
    rgba(255, 255, 255, 0.925)
  );
  border: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  font-family: Roboto;
}
h2 {
  font-family: Roboto;
}
h3 {
  font-family: Roboto;
}
h4 {
  font-family: Roboto;
}
h5 {
  font-family: Roboto;
}
p {
  font-family: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
